.main{
    display: flex;
    width: 100%;
    justify-content:center ;
}
.master{
    position: relative;
    display: flex;
    width: 100%;
    justify-content:center ;
}
#img1{
    position: absolute;
    left: 10%;
    top:50%;
}
#img2{
    position: absolute;
    right: 10%;
    top:50%;
}
